1. Atendente Motokão [v2].json
{
  "name": "1. Atendente Motokão [v2]",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "149f8496-42a2-44d8-85ce-27f4f8dd76d7"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66990a98-3b3b-4f73-8936-c43c61e250e5",
      "name": "🔍 Filtrar Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2912,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.body.conversation.id }}_{{ $json.body.id }}",
        "options": {}
      },
      "id": "23e2ea5b-768a-4899-9d94-12417475cb5c",
      "name": "⚡ Cache Redis Check",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2224,
        2304
      ],
      "credentials": {
        "redis": {
          "id": "LEzG1SL5E566nY65",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              },
              "id": "78adc0f8-c25a-4b59-aa85-67b3492f1874"
            },
            {
              "id": "f0158bac-2764-4160-8332-7e59c3516339",
              "leftValue": "={{ $('⚡ Cache Redis Check').item.json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ef36d127-750b-4c86-8b52-ebdceb9b55b6",
      "name": "🆕 Nova Mensagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2000,
        2304
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.body.conversation.id }}_{{ $json.body.id }}",
        "value": "processed",
        "expire": true,
        "ttl": 3600
      },
      "id": "cb3b7bd7-e0aa-4549-a5d7-531ab13486da",
      "name": "✅ Marcar Processado",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1776,
        2288
      ],
      "credentials": {
        "redis": {
          "id": "LEzG1SL5E566nY65",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.motokaovirtual.com.br/api/v1/accounts/{{ $('📋 Extrair Informações').item.json.id_conta }}/conversations/{{ $('📋 Extrair Informações').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "on"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a4d81263-219c-40fb-a9a8-c405e4612e08",
      "name": "⌨️ Status Digitando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        64,
        2304
      ],
      "credentials": {
        "chatwootApi": {
          "id": "zmNL6YOUO92XXR5V",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('📋 Extrair Informações').item.json.telefone }}",
        "tableName": "motokao_chat_memory"
      },
      "id": "6bee7928-9f91-4d30-8af7-bb6540c1f6d5",
      "name": "🧠 Memória de Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        608,
        2560
      ],
      "credentials": {
        "postgres": {
          "id": "cudFrcal0TImhH5Y",
          "name": "Supabase Secretária"
        }
      }
    },
    {
      "parameters": {
        "description": "=**Ferramenta de Análise e Estratégia Técnica.** Use esta ferramenta como seu passo ZERO para qualquer solicitação que não seja trivial. Sua função é modelar seu raciocínio de especialista.\n\n**CENÁRIOS DE USO OBRIGATÓRIO:**\n- **Consultas Multi-Produto:** Cliente pede mais de um item.\n- **Análise de Compatibilidade Cruzada:** Peça vs. Moto, Peça vs. Peça.\n- **Dedução de Intenção:** Quando o pedido é um uso (ex: \"pneu pra fazer trilha\") e não um produto específico.\n- **Planejamento de Busca:** Antes de qualquer busca, para definir os termos exatos a serem usados.\n\n**PROTOCOLO DE SAÍDA OBRIGATÓRIO:**\nSua saída DEVE seguir estritamente o seguinte formato de Markdown:\n\n**Análise:** [Aqui você descreve sua interpretação da necessidade real e completa do cliente.]\n**Plano de Ação:**\n1.  **Passo 1:** [Descreva a primeira ação que você vai tomar, ex: 'Usar a ferramenta X para buscar Y'.]\n2.  **Passo 2:** [Descreva a segunda ação, se houver.]\n3.  **...**\n**Validação:** [Descreva o que você precisa confirmar ou a hipótese que está testando com seu plano.]\n\n**Exemplo:**\n**Análise:** O cliente precisa do kit completo de transmissão (coroa, corrente, pinhão) para a moto Honda Bros 160, ano 2020.\n**Plano de Ação:**\n1.  **Passo 1:** Usar `buscar_produtos_motokao` com o termo \"coroa Bros 160 2020\".\n2.  **Passo 2:** Usar `buscar_produtos_motokao` com o termo \"corrente Bros 160 2020\".\n3.  **Passo 3:** Usar `buscar_produtos_motokao` com o termo \"pinhão Bros 160 2020\".\n4.  **Passo 4:** Consolidar os resultados e apresentar ao cliente.\n**Validação:** Preciso confirmar a disponibilidade e o preço de cada um dos três componentes para o modelo e ano exatos."
      },
      "id": "4d7e82ff-cef9-4335-8590-4030be6a0412",
      "name": "🤔 Ferramenta de Raciocínio",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1392,
        2560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.motokaovirtual.com.br/api/v1/accounts/{{ $('📋 Extrair Informações').item.json.id_conta }}/conversations/{{ $('📋 Extrair Informações').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "id": "c0a315f7-ee73-4e88-9d17-47206154ee42",
      "name": "📤 Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1392,
        2320
      ],
      "credentials": {
        "chatwootApi": {
          "id": "zmNL6YOUO92XXR5V",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recebendo-mensagem-motokao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3120,
        2336
      ],
      "id": "dc7c1948-1214-4764-82d6-4857955b73f9",
      "name": "🎯 Webhook Chatwoot",
      "webhookId": "003c4b22-55e7-4897-a3e0-c8e1a3ad5540"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_final }}",
        "options": {
          "systemMessage": "=HOJE É: {{ $now.format('FFFF') }}\n\n\n\n# AGENTE DE ATENDIMENTO **Motokão**\n\n**Função:** Assistente virtual para atendimento e suporte técnico  \n\n**Objetivo Primário:**\n\n- Responder perguntas sobre produtos e serviços. Apenas assuntos relacionados à empresa.\n\n- Consultar bancos de dados veotoriais em tempo real.\n\n- Escalar casos complexos para humanos com a ferramenta 'Escalar humano'.\n\n**Tom:** Seja direto, educado, prestativo e sem enrolações.\n\n\n\n## 🏁 CONTEXTO OPERACIONAL\n\n- **Especialização / Escopo:**\n\n - Manutenção **preventiva** (antes da falha) e **corretiva** (pós-falha).\n\n - **Especialização:** atendemos motos **100–400cc**, qualquer moto fora dessa faixa precisamos consultar com o mecanico.  \n\n - **Horário de funcionamento:** Segunda a sexta das **7:30h às 18h**; **sábado e domingo não abrimos**.\n\n\n\n- **Limites de Atuação:**  \n\n - ❌ Não dar instruções mecânicas (o assistente entende o tema, mas não fornece passo a passo técnico).\n\n - ❌ Não diagnosticar problemas sem dados suficientes — peça para trazer a moto para analisarmos melhor.\n\n - ❌ Não revele o nosso SKU para o cliente.\n\n - ❌ Não é necessário informar a quantidade de estoque disponível.\n\n - ❌ Não insira muitos assuntos na conversa; foque apenas no que o cliente precisa, um assunto de cada vez.\n\n - ❌ Não dê valores de mão de obra; diga que vai verificar com o responsável e transfira para um humano.\n\n\n\n### 🚦 Fluxo de Atendimento — Chain of Thought\n\n\n\n1) Saudação\n\n\n\n2) Quando o cliente pedir preço, entenda e capture os dados essênciais apenas uma vez (modelo da moto e ano). Em seguida, pergunte se o cliente quer o valor da peça ou produto já instalado ou se quer o valor apenas da peça.\n\n\n\n3) Se for **só a peça**\n\n- [Consultar banco de dados \"produtos\" e confirmar modelo/ano exatos]\n\n- Se encontrado: \"Encontrei **[PEÇA]** para **[MOTO/ANO]** por **R$ [PREÇO]**.\"\n\n- Complementos úteis:\n\n - (Se houver variações): \"Temos essas opções: [VARIAÇÕES QUE FIZEREM SENTIDO, NÃO FALE DE PEÇAS ALEATÓRIAS].\"\n\n\n\n4) Se for **peça + instalação**\n\n- \"Para te passar o valor instalado preciso confirmar a mão de obra com a oficina. Vou te transferir agora para um atendente.\" [Transferir para humano]\n\n\n\n5) Encerramento\n\n- \"Posso te ajudar em mais alguma coisa?\"\n\n\n\n#### Regras rápidas (evite erro)\n\n- Não invente preço/estoque.\n\n- Tudo que o cliente perguntar que não tiver informação no system prompt, faça a busca RAG no banco de dados vetorial 'faq' a resposta pode estar lá, não exite em usar essa ferramenta, ela é extremamente essêncial.\n\n\n\n### Políticas de Escalonamento\n\n- Reclamação de serviço feito por nós.\n\n- Falha na consulta (tente novamente e escale na 2ª falha).\n\n- Pedido de orçamento complexo, com muitas peças ou envolvendo mão de obra.\n\n- Quando o cliente provavelmente quiser fazer orçamento para seguro.\n\n\n\n## ⚙️ FERRAMENTAS OPERACIONAIS\n\n### 1. `faq` (Banco de Dados Supabase)\n\n- **Uso:** Consultar para perguntas gerais (Use sempre que não tiver a resposta no system prompt).\n\n\n\n### 2. `produtos` (Banco de Dados Supabase)\n\n- **Uso:** Acione ao detectar interesse em **saber mais sobre uma peça** (detalhes, compatibilidade, preço).\n\n\n\n## MODO DE USAR AS FERRAMENTAS\n\n### 1. `faq`\n\nUse para perguntas gerais. Sempre que algo não estiver no system prompt ou no histórico da conversa, use essa ferramenta para confirmar detalhes sobre a dúvida do cliente; caso não encontre, **faça a transferência para um humano**.\n\n\n\n### 2. `produtos` — Fluxo de uso da ferramenta\n\n1. **Entender o pedido do cliente**\n\n  - Identifique a peça solicitada.\n\n  - Liste possíveis **sinônimos, abreviações e descrições equivalentes**.\n\n2. **Analisar a motocicleta**\n\n  - Confirme **modelo** e **ano** exatos informados pelo cliente.\n\n3. **Pesquisar no catálogo**\n\n  - Utilize **sinônimos + modelo + ano** como filtros.\n\n  - Priorize correspondências **exatas de ano**; se não houver, verifique **anos adjacentes** (ex.: 22...24 quando o cliente busca 2023).\n\n4. **Quando não houver o ano exato**\n\n  > “Encontrei a peça **X** para sua moto. Mas preciso confirmar com o mecânico se ela serve no **[ANO]** da sua moto.”\n\n5. **Padrão de título de produto**\n\n  **NOME DA PEÇA [às vezes com abreviação] + MOTO DE APLICAÇÃO (ANO) + OUTRAS MOTOS COMPATÍVEIS + MARCA [às vezes indisponível]**\n\n  **Exemplo:** `KIT RELAÇÃO CG160 16...22/BROS160 18...22 DID`\n\n  *Lembrete:* a peça necessária pode estar listada como compatível com outros modelos (ex.: pedido para Bros 160 pode aparecer na descrição da CG 160).\n\n\n\n## Políticas da empresa\n\n- **Entregas:** Não fazemos **entregas pela loja física dentro da cidade**. **Se o cliente morar em outra cidade podemos fazer o envio através de transportadora ou Mercado Livre**.\n\n- **Atendimento:** Não fazemos agendamento; trabalhamos por **ordem de chegada**.\n\n- **Instalação de peças:** Não instalamos peças que **não** foram compradas com a gente.\n\n- **Pagamentos (balcão presencial):**\n\n - Parcelamos compras no **cartão em até 3x sem juros** (balcão).\n\n - **Desconto:** 5% no **dinheiro** à vista ou 3% no **Pix** (somente para pagamentos no balcão).\n\n\n\n### Política de Peças\n\n**Posição oficial:** Trabalhamos **exclusivamente com peças paralelas de alta qualidade**. São opções de **custo consideravelmente menor** e **qualidade muito semelhante** às originais. Selecionamos **marcas confiáveis** para evitar dor de cabeça para o cliente e empresa.\n\n\n\n**O que o agente deve fazer se o cliente perguntar sobre qualidade de peças**\n\n- ✅ Dizer que só oferecemos peças **paralelas de alta qualidade**.\n\n- ✅ Destacar **bom custo-benefício** e **qualidade equivalente**.\n\n- ✅ Reforçar que **somos criteriosos na escolha das marcas**.\n\n\n\n**O que o agente não deve fazer**\n\n- ❌ **Não** oferecer peças originais nem sugerir que conseguimos sob demanda.\n\n- ❌ **Não** prometer que a peça é “idêntica à original”; prefira “qualidade **muito semelhante**/equivalente”.\n\n- ❌ **Não** citar marcas específicas se não estiverem no contexto/dados.\n\n\n\n**Frases modelo (use e adapte)**\n\n- “Trabalhamos **somente com peças paralelas de alta qualidade**, com **custo bem mais baixo** e **qualidade muito semelhante** à original.”\n\n- “Selecionamos **apenas marcas confiáveis** para garantir durabilidade e evitar problemas futuros para o cliente e empresa.”\n\n- “Não oferecemos peça original; nossa **linha é paralela premium**, com **excelente custo-benefício**.”\n\n\n\n**Se o cliente pedir peça original**\n\n- Responder: “No momento trabalhamos **exclusivamente com peças paralelas de alta qualidade**. Posso verificar a opção equivalente para a peça que você precisa?”\n\n\n\n- **Garantia:** segue a legislação vigente de 90 dias e cobre apenas **defeitos de fabricação**, não por mal uso.\n\n- **Política de vendas e trocas:**\n\n - Não vendemos **peças usadas**.\n\n - Não realizamos **devolução de peças** após instalação.\n\n - Não aceitamos trocas como forma de pagamento.\n\n- **Horário de funcionamento:** Segunda a sexta das **7:30h às 18h**; **sábado e domingo não abrimos**.\n\n- **Encomendas:** não trabalhamos com encomendas sem **pagamento antecipado**.\n\n- **Serviços não realizados:** não fazemos **pintura, funilaria ou envelopamento**.\n\n- **Execução dos serviços:** manutenção preventiva e corretiva realizadas apenas em nossa **oficina própria**.\n\n- **Reserva de peças:** atendimento no balcão por ordem de chegada; **sem reserva**.\n\n\n\n### Práticas internas da empresa\n\n- **Antes de passar o valor de uma peça**, pergunte ao cliente se ele **quer apenas a peça** ou **a peça instalada**.  \n\n - Se quiser **só a peça**: passe o **preço**.\n\n - Se quiser **instalada**: **transfira para um humano**.\n\n - Se o cliente já tiver informado o modelo da moto, porém sem o ano, enfatize que você precisa do ano para fazer melhor a consulta, mas não peça o modelo da moto novamente."
        }
      },
      "id": "e173846d-fd92-4de1-a7a7-89d9877c8812",
      "name": "🤖 Agente Motokão Principal",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        768,
        2320
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        2720
      ],
      "id": "7063feb6-07a9-4627-858f-b27ceee20f74",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aGijCClKIFF3AhEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        2720
      ],
      "id": "9ef800fd-4007-47d3-ac2e-33ba6be73273",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "aGijCClKIFF3AhEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega a resposta do agente de IA do nó anterior\nconst textoAgente = $('🤖 Agente Motokão Principal').item.json.output;\n\n// Pega os dados de identificação do primeiro nó do fluxo\nconst infoMensagem = $('📋 Extrair Informações').item.json;\n\n// --- Início da Formatação ---\n// Substitui **palavra** por *palavra*\nlet textoFormatado = textoAgente.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n// Remove o caractere '#'\ntextoFormatado = textoFormatado.replace(/#/g, '');\n// --- Fim da Formatação ---\n\n// Retorna um novo objeto com TUDO o que o próximo nó precisa\nreturn {\n  content: textoFormatado,\n  id_conta: infoMensagem.id_conta,\n  id_conversa: infoMensagem.id_conversa\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        2320
      ],
      "id": "d851491a-d9fe-4006-8094-c4ff33c9efd9",
      "name": "Formatador de texto"
    },
    {
      "parameters": {
        "jsCode": "// Extrair informações da mensagem\nconst message = $('🔍 Filtrar Mensagens').first().json.body;\nconst content = message.content || '';\n\n// Verifica o tipo de anexo\nconst attachment = message.attachments?.[0];\nconst hasAudio = attachment?.file_type === 'audio';\nconst hasImage = attachment?.file_type === 'image';\nconst attachmentUrl = attachment?.data_url;\n\nconst SEU_TELEGRAM_CHAT_ID = \"991616326\";\nconst URL_BASE_CHATWOOT = \"https://chatwoot.motokaovirtual.com.br\";\n\nreturn {\n  id_mensagem: message.id,\n  id_conta: message.account?.id,\n  id_conversa: message.conversation.id,\n  telefone: message.sender?.phone_number,\n  nome_cliente: message.sender?.name || 'Cliente',\n  mensagem: content,\n  mensagem_de_audio: hasAudio,\n  mensagem_de_imagem: hasImage, // Novo campo adicionado\n  anexo_url: attachmentUrl, // URL unificada para qualquer anexo\n  timestamp: message.created_at,\n  etiquetas: message.conversation?.labels || [],\n  telegram_chat_id: SEU_TELEGRAM_CHAT_ID,\n  url_chatwoot: URL_BASE_CHATWOOT\n};"
      },
      "id": "598870b3-e5cd-45c2-ae08-d3a1fca02976",
      "name": "📋 Extrair Informações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        2288
      ]
    },
    {
      "parameters": {
        "description": "Use esta ferramenta OBIGATORIAMENTE como sua única opção para transferir o atendimento para um agente humano. Chame esta ferramenta SEMPRE que o cliente pedir para falar com uma pessoa, expressar frustração (ex: \"você não entende\"), reclamar de um produto/serviço, ou se a solicitação for complexa demais para as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "DeE5G6KVYJ2j7F2X",
          "mode": "list",
          "cachedResultName": "Transferir para um humano (Motokão)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('📋 Extrair Informações').item.json.telefone }}",
            "nome": "={{ $('📋 Extrair Informações').item.json.nome_cliente }}",
            "ultima_mensagem": "={{ $('📝 Preparar Mensagem1').item.json.mensagem_final }}",
            "id_conta": "={{ $('📋 Extrair Informações').item.json.id_conta }}",
            "id_conversa": "={{ $('📋 Extrair Informações').item.json.id_conversa }}",
            "telegram_chat_id": "={{ $('📋 Extrair Informações').item.json.telegram_chat_id }}\n",
            "url_chatwoot": "={{ $('📋 Extrair Informações').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1568,
        2560
      ],
      "id": "f3a8e9a6-40e5-450b-b14b-2978ede68a18",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "faq",
        "toolDescription": "=Use esta ferramenta para responder perguntas gerais sobre a empresa, como horário de funcionamento, localização, formas de pagamento, garantia e serviços oferecidos. NÃO use para buscar produtos ou peças.",
        "tableName": {
          "__rl": true,
          "value": "faq",
          "mode": "list",
          "cachedResultName": "faq"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "queryName": "match_faq"
        }
      },
      "id": "773e8156-c40b-44d1-8278-d130dc2585f4",
      "name": "faq",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1056,
        2560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TtEWGIst9q5NtCn8",
          "name": "Supabase Motokão"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "produtos",
        "toolDescription": "=Use esta ferramenta para consultar informações sobre produtos, peças, SKUs, preços e estoque da Motokão. SEMPRE use esta ferramenta quando a pergunta do cliente for sobre a disponibilidade, compatibilidade ou preço de um item. NÃO use para perguntas gerais sobre a empresa.",
        "tableName": {
          "__rl": true,
          "value": "produtos",
          "mode": "list",
          "cachedResultName": "produtos"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "queryName": "match_produtos"
        }
      },
      "id": "044fd5f9-5f76-411c-92f9-9b67b14917b9",
      "name": "produtos",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        736,
        2560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TtEWGIst9q5NtCn8",
          "name": "Supabase Motokão"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        2560
      ],
      "id": "e0990ab6-b9cc-4af7-a3b0-7af07c89840c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aGijCClKIFF3AhEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem_final",
              "stringValue": "={{ \n(() => {\n  const t = (v) => (v ?? '').toString().trim();\n\n  // Sempre existe\n  const info = $('📋 Extrair Informações1').first().json || {};\n  const isAudio = !!info.mensagem_de_audio; // vem do Extrair Info\n\n  // Se NÃO for áudio, tenta pegar só a ÚLTIMA mensagem da fila\n  if (!isAudio) {\n    try {\n      const fila = $('🎯 Verificar Posição na Fila').all();\n      if (fila.length) {\n        const ult = fila[fila.length - 1];\n        const msg = t(ult.json?.mensagem);\n        if (msg) return msg;\n      }\n    } catch (e) { /* nó não executou? tudo bem */ }\n  }\n\n  // Se for áudio (ou texto da fila não veio), tenta a transcrição\n  try {\n    const tx = $('Transcrever audio1').first(); // nome exato do nó\n    const txText = t(tx?.json?.text);\n    if (txText) return txText;\n  } catch (e) { /* nó não executou? segue o baile */ }\n\n  // Fallback: conteúdo bruto\n  return t(info.mensagem);\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "02bf61be-09ee-4a59-9eec-25e64d1ecfe2",
      "name": "📝 Preparar Mensagem1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        272,
        2304
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1760,
        2464
      ],
      "id": "1338353f-7737-43fa-b7c9-94c338f4bc27",
      "name": "Sem Próximo Passo  "
    },
    {
      "parameters": {
        "url": "={{ $json.audio_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        2352
      ],
      "id": "9a13e7e1-e576-4307-be63-65f27ee7b18c",
      "name": "Download áudio",
      "credentials": {
        "chatwootApi": {
          "id": "zmNL6YOUO92XXR5V",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -608,
        2352
      ],
      "id": "2c25cc29-ba17-4581-8cf9-5f844289cfdb",
      "name": "Transcrever audio",
      "credentials": {
        "openAiApi": {
          "id": "aGijCClKIFF3AhEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const b = item.binary?.data;\n  if (!b) throw new Error('Sem binário em \"data\"');\n  // Força metadados reconhecíveis pela OpenAI\n  b.fileName = b.fileName || 'audio.ogg';\n  b.mimeType = 'audio/ogg';\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        2352
      ],
      "id": "6041b784-3eb8-470f-a916-7b02bb53adbd",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "12a7b5a4-7423-4868-afbb-346354a8e9a5",
                    "leftValue": "={{ $json.mensagem_de_imagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1312,
        2272
      ],
      "id": "8bf97b2c-887a-48de-9379-01409c03ed97",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {},
      "id": "27c829ff-1348-4027-9822-85e340c697a3",
      "name": "Unificar Caminhos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -128,
        2304
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "mensagem_final",
              "stringValue": "={{ $('Transcrever audio').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2c24c58f-401d-49d6-bb36-f9a1254344fe",
      "name": "Preparar Transcrição",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -400,
        2352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot.motokaovirtual.com.br/api/v1/accounts/{{ $json.body.account.id }}/conversations/{{ $json.body.conversation.id }}/assignments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"assignee_id\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        2304
      ],
      "id": "53c09b66-c38b-47bc-a5bb-7912fb034d91",
      "name": "➕ Atribuir à IA",
      "credentials": {
        "chatwootApi": {
          "id": "zmNL6YOUO92XXR5V",
          "name": "ChatWoot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff2cc635-0071-41de-ab27-fbcf7d026386",
              "leftValue": "={{ $json.body.conversation.meta.assignee?.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "daf23cb1-5afe-4115-a7f7-bc02d2d02c65",
              "leftValue": "={{ $json.body.conversation.meta.assignee?.id }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2704,
        2320
      ],
      "id": "0c3dcc2e-92e5-44fe-becf-d6026680f6fa",
      "name": "🤖 Já tem agente?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2704,
        2480
      ],
      "id": "eeef9579-e1eb-4a22-b52a-f68c9d7d7a8d",
      "name": "Sem Próximo Passo"
    },
    {
      "parameters": {
        "jsCode": "// Pega a última mensagem da fila (input do nó anterior)\nconst ultima_mensagem_da_fila = $input.last();\n\n// Pega a mensagem que iniciou este workflow\nconst mensagem_do_workflow = $('📋 Extrair Informações').first();\n\n// Extrai os IDs para comparação\nconst id_fila = ultima_mensagem_da_fila.json.id_mensagem;\nconst id_workflow = mensagem_do_workflow.json.id_mensagem;\n\n// --- CORREÇÃO APLICADA AQUI ---\n// Comparamos ambos os valores como texto (string) para evitar conflito de tipo.\nif (String(id_fila) !== String(id_workflow)) {\n  // Se os IDs forem diferentes, é uma mensagem encavalada. Para o fluxo.\n  return [];\n}\n\n// Se os IDs forem iguais, a mensagem é a correta. Deixa o fluxo continuar.\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        2176
      ],
      "id": "806ae92b-2e03-4d23-994f-53f5a307ffeb",
      "name": "Mensagem encavalada?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        2176
      ],
      "id": "6db1a7c0-1cb1-4785-aa09-ca00eeec64f1",
      "name": "Buscar mensagens",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "XzWN5wFlJQx4ABHd",
          "name": "Supabase Motokão"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        2176
      ],
      "id": "0491cfe3-4b38-4b75-88ce-2031bb2b44b8",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "cudFrcal0TImhH5Y",
          "name": "Supabase Secretária"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -912,
        2176
      ],
      "id": "ea04a12d-c50a-4f49-8430-714f6eba3713",
      "name": "Esperar",
      "webhookId": "689b51a0-89fe-459d-a560-a59c79797611"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $json.telefone }}",
            "mensagem": "={{ $json.mensagem }}",
            "timestamp": "={{ $json.timestamp }}",
            "id_mensagem": "={{ $json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        2176
      ],
      "id": "8472be2c-0ca8-4a28-8af9-4c32ae9dd303",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "XzWN5wFlJQx4ABHd",
          "name": "Supabase Motokão"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a38c4262-180a-4f9c-aa66-ab21caea1ef3",
              "leftValue": "={{ $('🎯 Webhook Chatwoot').item.json.body.conversation.labels }}",
              "rightValue": "mecanico",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        2304
      ],
      "id": "406f9ca2-6157-4085-b64d-a1e29ec67834",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_final }}",
        "options": {
          "systemMessage": "=HOJE É: {{ $now.format('FFFF') }}\n\n# AGENTE DE ATENDIMENTO **Motokão**\n**Função:** Assistente virtual para atendimento para mecânicos no atacado\n\n**Objetivo Primário:**\n- Passe o valor das peças que os mecânicos pedirem utilizando a ferramenta 'produtos' vector store.\n- Escalar casos complexos para humanos com a ferramenta 'Escalar humano'.\n**Tom:** Extremamente direto, peça as informações que precisar e seja direto na hora de passar o preço.\n\n**ATENÇÃO**\n- Os mecânicos tem um desconto de 25% do preço de venda que você encontrar no banco de dados 'produtos' vector store, portanto, se quando o cliente pedir peça 'X' você vai mentalizar sinonimos para a peça que o mecanico quer, vai procurar a peça que o cliente pediu de forma vetorizada no banco de dados, e vai passar apenas o valor com desconto para o mecanico, por exemplo, a peça que encontrou custa R$100,00 você vai pegar esse valor, substrair 25% e passar o resultado para o mecânico, no caso seria de R$75,00.\n- Algumas categorias de produtos tem descontos diferentes, são elas:\n  Pneus: 15% de desconto\n\n- Fluxo de uso da ferramenta 'produtos'\n1. **Entender o pedido do cliente**\n   - Identifique a peça solicitada.  \n   - Liste possíveis **sinônimos, abreviações e descrições equivalentes**.\n2. **Analisar a motocicleta**\n   - Confirme **modelo** e **ano** exatos informados pelo cliente.\n3. **Pesquisar no catálogo**  \n   - Utilize **sinônimos + modelo + ano** como filtros.  \n   - Priorize correspondências **exatas de ano**; se não houver, verifique **anos adjacentes** (ex.: 22...24 quando o cliente busca 2023).\n4. **Quando não houver o ano exato**  \n   > “Encontrei a peça **X** para sua moto. Mas preciso confirmar com o mecânico se ela serve no **[ANO]** da sua moto.”\n5. **Padrão de título de produto**  \n   **NOME DA PEÇA [às vezes com abreviação] + MOTO DE APLICAÇÃO (ANO) + OUTRAS MOTOS COMPATÍVEIS + MARCA [às vezes indisponível]**  \n   **Exemplo:** `KIT RELAÇÃO CG160 16...22/BROS160 18...22 DID`  \n   *Lembrete:* a peça necessária pode estar listada como compatível com outros modelos (ex.: pedido para Bros 160 pode aparecer na descrição da CG 160)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        784,
        2096
      ],
      "id": "fbbd4b9f-a211-4207-81fe-a03d42c8c0d6",
      "name": "Agente IA para MECÂNICOS"
    },
    {
      "parameters": {
        "jsCode": "// Pega a resposta do agente de IA do nó anterior\nconst textoAgente = $('Agente IA para MECÂNICOS').item.json.output;\n\n// Pega os dados de identificação do primeiro nó do fluxo\nconst infoMensagem = $('📋 Extrair Informações').item.json;\n\n// --- Início da Formatação ---\n// Substitui **palavra** por *palavra*\nlet textoFormatado = textoAgente.replace(/\\*\\*(.*?)\\*\\*/g, '*$1*');\n// Remove o caractere '#'\ntextoFormatado = textoFormatado.replace(/#/g, '');\n// --- Fim da Formatação ---\n\n// Retorna um novo objeto com TUDO o que o próximo nó precisa\nreturn {\n  content: textoFormatado,\n  id_conta: infoMensagem.id_conta,\n  id_conversa: infoMensagem.id_conversa\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        2096
      ],
      "id": "ec7fe158-f920-4c28-bba5-cf21ffa0c7cc",
      "name": "Formatador de texto (Mecânico)"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "O que tem nessa imagem? Você faz parte de um workflow de atendimento ao cliente em uma loja e oficina de motos, portanto, quaisquer imagens provavelmente será relacionada a isso.",
        "imageUrls": "={{ $json.anexo_url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1072,
        2512
      ],
      "id": "9608871d-6676-455e-8bfe-e842d6ace84b",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "aGijCClKIFF3AhEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "conteudo_imagem",
              "stringValue": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18ff03d3-6519-4a07-9306-a9d56218dc08",
      "name": "Transcriçao Imagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -400,
        2512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🔍 Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "🤖 Já tem agente?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Próximo Passo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Cache Redis Check": {
      "main": [
        [
          {
            "node": "🆕 Nova Mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆕 Nova Mensagem?": {
      "main": [
        [
          {
            "node": "✅ Marcar Processado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Próximo Passo  ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Marcar Processado": {
      "main": [
        [
          {
            "node": "📋 Extrair Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⌨️ Status Digitando": {
      "main": [
        [
          {
            "node": "📝 Preparar Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Memória de Conversa": {
      "ai_memory": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agente IA para MECÂNICOS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🤔 Ferramenta de Raciocínio": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar Mensagem": {
      "main": [
        []
      ]
    },
    "🎯 Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "🔍 Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Agente Motokão Principal": {
      "main": [
        [
          {
            "node": "Formatador de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "produtos",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "faq",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Formatador de texto": {
      "main": [
        [
          {
            "node": "📤 Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Extrair Informações": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente IA para MECÂNICOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "faq": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "produtos": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente IA para MECÂNICOS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agente IA para MECÂNICOS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📝 Preparar Mensagem1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Preparar Transcrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Caminhos": {
      "main": [
        [
          {
            "node": "⌨️ Status Digitando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Transcrição": {
      "main": [
        [
          {
            "node": "Unificar Caminhos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Atribuir à IA": {
      "main": [
        [
          {
            "node": "⚡ Cache Redis Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Já tem agente?": {
      "main": [
        [
          {
            "node": "➕ Atribuir à IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Unificar Caminhos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Agente IA para MECÂNICOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 Agente Motokão Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA para MECÂNICOS": {
      "main": [
        [
          {
            "node": "Formatador de texto (Mecânico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatador de texto (Mecânico)": {
      "main": [
        [
          {
            "node": "📤 Enviar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Transcriçao Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcriçao Imagem": {
      "main": [
        [
          {
            "node": "Unificar Caminhos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54d9bffd-006a-4531-9d69-54ad400c04e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc8408cceae7fa0f8b71136a7f42ebc73548c779275a4018abe7f6d69be1e4cd"
  },
  "id": "VVSZiUFHTGpppso9",
  "tags": []
}
